
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";
body {
  background-color: #00040f;
  
}

.pink__gradient {
  position: absolute;
  background: radial-gradient(circle at top left, #ff6bcb, transparent);
  filter: blur(100px);
}

.white__gradient {
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6), transparent);
  filter: blur(100px);
}

.blue__gradient {
  position: absolute;
  background: radial-gradient(circle at bottom right, #3b82f6, transparent);
  filter: blur(100px);
}
